h1{
  border-right: 1px solid black;
  padding-right: 20px;
}

h2{
  margin-left: 20px;
}

.titre,
.titre > *{
  display: inline-block;
  text-transform: lowercase;
  font-family: Roboto Slab;
  font-weight: 300;
  font-size: 30px;
}

.containerA{
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  text-align: center;
  display: inline-block;
}

.containerA p{
  margin-top: 20px;
  text-align: right;
  font-family: Roboto slab;
  font-size: 12px;
}

.titre span{
  display: block;
  margin-top: 7px;
}

.titre h1{
  text-align: right;
}

#home{
  height: 100vh;
  width: 100vw;
}

h3{
  font-family: Roboto Slab;
  font-weight: 400;
  font-size: 25px;
}

.liste{
  margin-left: 50px;
}

.liste div{
  margin-bottom: 40px;
}

h4{
  margin-bottom: 15px;
  font-family: Roboto Slab;
  font-weight: 400;
  font-size: 20px;
  position: relative;
  max-width: 255px;
  margin-top: 20px;
}

h4::before{
  content: '';
  background-color: #b8e1f1;
  height: 15px;
  width: 15px;
  border-radius: 15px;
  margin-top: 20px;
  display: block;
  position: absolute;
  top: -10px;
  z-index: -2;
  left: -10px;
}

h3::after{
  content: '';
  background-color: black;
  height: 2px;
  width: 70px;
  margin-top: 20px;
  display: block;
}

#cv p{
  font-family: Roboto Slab;
  font-weight: 300;
  margin-bottom: 5px;
}

.containerB .placement{
  width: 400px;
  position: relative;
  left: 20%;
  /* transform: translateX(-50%); */
}

#experiences{
  left: 60%;
}

#contact {
  width: 100vw;
  text-align: center;
  height: 50px;
  line-height: 50px;
}

#contact a{
  font-family: Roboto Slab;
  font-weight: 300;
  color: black;
}

#contact a:hover::after{
  content: '';
  background-color: black;
  height: 2px;
  width: 70px;
  margin-top: 20px;
  display: block;
}

canvas{
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100vw;
  height: 100vh;
}
