@import url('https://fonts.googleapis.com/css?family=Cabin');

html{
  position: relative;
    min-height: 100%;
}
body{
  font-family:Cabin;
  font-size: 16px;
  color: white;
  background: red;
  background: -webkit-linear-gradient(left top, #FFF, #d7fde1);
  background: -o-linear-gradient(bottom right, #FFF, #d7fde1);
  background: -moz-linear-gradient(bottom right, #FFF, #d7fde1);
  background: linear-gradient(to bottom right, #FFF, #d7fde1);
}

.retour {
  font-size: 20px;
  margin-left: 20px;
  padding-top: 20px;
}


.retour a{
  color: black;
  display: block;
  padding-left: 50px;
}

.retour a:hover{
  display: block;
  text-decoration: none;
}

.retour a::before {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url('../img/left-arrow.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  transition: 0.3s;
  opacity: 0;
}

.retour a:hover::before{
  transform: translateX(-50px);
  opacity: 1;

}

.slide-1 {
  color: black;
  margin: 0 0 0 0;
  padding-bottom: 50px;
  }

.slide-1 img {
  margin-bottom: 20px;
  max-width: 250px;
}


.slide-2{
  margin: 0 0 0 20px;
}

.slide-2 img {
  height: 438px;
  width: 220px;
}

.slide-2 p {
  color: black;
  margin-top: 40px;
  padding-right: 15px;
  padding-left: 15px;
}
